.container{
    border: 2px solid black;
    width: 300px;
    height: 200px;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.container p,label,select, input{
    margin: 20px;
}